/*SecretRetouch.css*/
/*Mobile Layout*/
@media screen and (max-width: 500px) and (min-width: 100px) {
  body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: visible;
    max-width: 500px;
    min-width: 100px;
    background-image: linear-gradient(to bottom right, rgb(16, 205, 161), rgb(41, 133, 201));
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }

  .contact a {
    display: block;
    text-decoration: none;
    color: black;
    font-family: "Helvetica", sans-serif;
    transition: 0.5s ease-out;
    text-transform: lowercase;
    line-height: 2.1em;
    font-style: italic;
    font-weight: bold;
    background-color: rgb(255, 0, 226);
    width: 200px;
    margin: 2 auto;
    text-align: center;
  }

  .contact h2 {
    padding: 0;
    margin: 0;
    font-size: 23px;
    font-family: "Helvetica", sans-serif;
    text-transform: uppercase;
    letter-spacing: 4.5px;
    font-weight: lighter;
  }

  .contact h1 {
    padding: 0;
    margin: 0;
    font-family: "Helvetica", sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 4.2px;
  }

  .name {
    text-align: center;
    margin-bottom: 20px;

  }


  .contact {
    background-color: white;
    width: 80%;
    margin: 30;
    padding: 30 25 30 30;
    border-radius: 10px;
    box-shadow: -10px -10px black;
  }

  .retouchWall {
    background-color: white;
    width: 80%;
    margin: 30;
    padding: 30 25 30 30;
    border-radius: 10px;
    box-shadow: -10px -10px black;
  }

  .flip_module {
    display: block;
  }

  .flip_module>img {
    display: inline;
    width: 49%;
  }

  .flip_module>a>img {
    display: inline;
    width: 49%;
  }

  #clicktoenlarge {
    display: block;
    text-align: center;
    font-family: "Helvetica", sans-serif;
    text-decoration: none;
    color: grey;
    text-transform: lowercase;
    font-weight: lighter;
    font-style: italic;
    border: 1px solid grey;
    box-shadow: -4px -4px darkgrey;
    background: white;
    border-radius: 5px;
    width: 250px;
    margin: 30 auto;
    font-size: 18px;
  }

  .flip_module p {
    display: block;
    margin: 40 auto;
    text-align: center;
    font-family: "Helvetica", sans-serif;
    font-size: 18px;
    font-style: italic;
  }

  .flip_module p::after {
    display: block;
    content: "_______________";
    margin: 30 auto;
  }
}

/*Tablet Layout*/
@media screen and (max-width: 1200px) and (min-width: 500px) {
  body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: visible;
    max-width: 1200px;
    min-width: 500px;
    background-image: linear-gradient(to bottom right, rgb(16, 205, 161), rgb(41, 133, 201));
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }

  .contact a {
    display: block;
    text-decoration: none;
    color: black;
    font-family: "Helvetica", sans-serif;
    transition: 0.5s ease-out;
    text-transform: lowercase;
    line-height: 2.1em;
    font-style: italic;
    font-weight: bold;
    background-color: rgb(255, 0, 226);
    width: 200px;
    margin: 2 auto;
    text-align: center;
  }

  .contact h2 {
    padding: 0;
    margin: 0;
    font-size: 28px;
    font-family: "Helvetica", sans-serif;
    text-transform: uppercase;
    letter-spacing: 4.5px;
    font-weight: lighter;
  }

  .contact h1 {
    padding: 0;
    margin: 0;
    font-family: "Helvetica", sans-serif;
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 4.2px;
  }

  .name {
    text-align: center;
    margin-bottom: 20px;

  }

  .contact {
    background-color: white;
    width: 80%;
    margin: 30;
    padding: 30 25 30 30;
    border-radius: 10px;
    box-shadow: -10px -10px black;
  }

  .retouchWall {
    background-color: white;
    width: 80%;
    margin: 30;
    padding: 30 25 30 30;
    border-radius: 10px;
    box-shadow: -10px -10px black;
  }

  .flip_module {
    display: block;
  }

  .flip_module>img {
    display: inline;
    width: 49%;
  }

  .flip_module>a>img {
    display: inline;
    width: 49%;
  }

  .flip_module a {
    color: transparent;
  }

  #clicktoenlarge {
    display: block;
    text-align: center;
    font-family: "Helvetica", sans-serif;
    text-decoration: none;
    color: grey;
    text-transform: lowercase;
    font-weight: lighter;
    font-style: italic;
    border: 1px solid grey;
    box-shadow: -4px -4px darkgrey;
    background: white;
    border-radius: 5px;
    width: 250px;
    margin: 30 auto;
    font-size: 18px;
  }

  .flip_module p {
    display: block;
    margin: 40 auto;
    text-align: center;
    font-family: "Helvetica", sans-serif;
    font-size: 18px;
    font-style: italic;
  }

  .flip_module p::after {
    display: block;
    content: "________________________________";
    margin: 30 auto;
  }
}

/*WEB Layout*/
@media only screen and (min-width: 1200px) {

  /*Contact Section*/
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    overflow-x: scroll;
    overflow-y: scroll;
  }

  .contact a {
    display: block;
    text-decoration: none;
    color: black;
    font-family: "Helvetica", sans-serif;
    transition: 0.5s ease-out;
    text-transform: lowercase;
    line-height: 2.1em;
    text-indent: 25px;
    font-style: italic;
    font-weight: bold;
    background-color: rgb(255, 0, 226);
    width: 300px;
    margin-bottom: 2px;
    margin-top: 5px;
    margin-left: 20px;
  }

  .contact a::before {
    content: "+ ";
  }

  .contact a:hover {
    color: white;
    width: 330px;
  }

  .contact h2 {
    padding: 0;
    margin: 0;
    font-size: 30px;
    font-family: "Helvetica", sans-serif;
    text-transform: uppercase;
    letter-spacing: 4.5px;
    font-style: italic;
  }

  .contact h1 {
    padding: 0;
    margin: 0;
    font-family: "Helvetica", sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 4.2px;
  }

  .name {
    text-align: right;
    width: 300px;
  }

  .contact {
    margin-left: 120px;
    margin-top: 50px;
    margin-bottom: 10px;
    padding: 10 0 10 0;
    background-color: white;
    position: fixed;
    display: flex;
  }

  /*Gallery Wall*/
  .show {
    opacity: 1;
    z-index: 3;
    cursor: zoom-in;
  }

  .show:hover {
    opacity: 0;
  }

  .reveal {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
  }

  .flip_module {
    position: relative;
  }

  #clicktoenlarge {
    text-decoration: none;
    color: white;
    font-family: "Helvetica", sans-serif;
    text-transform: lowercase;
    line-height: 3em;
    margin: 0;
    position: absolute;
    top: 450;
    left: 50;
    display: none;
  }

  .flip_module p {
    opacity: 100;
    text-decoration: none;
    color: white;
    font-family: "Helvetica", sans-serif;
    text-transform: lowercase;
    line-height: 3em;
    margin: 0;
    position: absolute;
    top: 450;
    left: 20;
    z-index: -1;
  }

  .retouchWall {
    display: flex;
    flex-flow: row nowrap;
    width: auto;
    height: 500px;
    justify-content: flex-start;
    position: absolute;
    top: 350px;
    left: 120px;
  }

  .retouchWall img {
    height: 100%;
    width: auto;
    margin-right: 20px;
    box-shadow: 0px 15px 15px -15px rgb(98, 98, 98);
  }
}
