/*SecretRetouch.css*/
/*Contact Section*/

.contact a {
  display: block;
  text-decoration: none;
  color: black;
  font-family: "Helvetica", sans-serif;
  transition: 0.5s ease-out;
}
.contact a:hover {
  color: rgb(255, 0, 126);
  letter-spacing: 2px;
}
.contact h3 {
  padding: 0;
  margin: 0;
  font-family: "Helvetica", sans-serif;
  font-weight: 100;
}

.contact h2 {
  padding: 0;
  margin: 0;
  font-family: "Helvetica", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3.5px;
}

.contact {
  margin-left: 120;
  padding-top: 50px;
}
/*Gallery Wall*/
img {
  height: 700px;
  width: auto;
}

.show {
  opacity: 1;
  z-index: 1;
}
.show:hover {
  opacity: 0;
}

.reveal {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.flip_module {
  display: block;
  position: relative;
  margin: 50 20 50 20;
}

.flip_module a {
  text-decoration: none;
  color: black;
  font-family: "Helvetica", sans-serif;
  text-transform: lowercase;
}

.flip_module p {
  font-family: "Helvetica", sans-serif;
  padding: 0;
  margin: 0;
  float: right;
}
.retouchWall {
  display: flex;
  flex-flow: row nowrap;
  margin-left: 100px;
  margin-top: 10px;
}
